body {
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body p {
    color: white;
}

p, h1 {
    margin-left: 20px;
}

h1 {
    color: darkred;
}